TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.p1 {
	FONT-SIZE: 12px; COLOR: #000000
}
.p2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
.p3 {
	FONT-SIZE: 14px; COLOR: #000000
}
.p4 {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
.p5 {
	FONT-SIZE: 12px; LINE-HEIGHT: 120%
}
.p6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.p7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.p18 {
	FONT-SIZE: 18px; FONT-FAMILY: ºÚÌå
}
.p24 {
	FONT-SIZE: 24px
}
.p3green {
	FONT-SIZE: 14px; COLOR: #667e14
}
.mtitle {
	COLOR: #c75e01
}
.ktitle {
	COLOR: #be3104
}
.ktitle1 {
	COLOR: #447b0e
}
.blue {
	COLOR: #0077c3
}
.green {
	COLOR: #435f00
}
.dot {
	FONT-SIZE: 6px
}
.img1 {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.img2 {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff
}
.img3 {
	BORDER-LEFT-COLOR: #86804c; BORDER-BOTTOM-COLOR: #86804c; BORDER-TOP-COLOR: #86804c; BORDER-RIGHT-COLOR: #86804c
}
.img4 {
	BORDER-LEFT-COLOR: #aeaeae; BORDER-BOTTOM-COLOR: #aeaeae; BORDER-TOP-COLOR: #aeaeae; BORDER-RIGHT-COLOR: #aeaeae
}
.grey {
	COLOR: #505050; LINE-HEIGHT: 150%
}
.i_gray {
	FONT-WEIGHT: bolder; COLOR: #797979
}
.engtitle {
	FONT-WEIGHT: bold; COLOR: #b57f06; FONT-FAMILY: arial
}
.gtitle {
	FONT-WEIGHT: bold; COLOR: #b57f06
}
.zytitle {
	COLOR: #ffffff
}
.sg_title {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #ffa800
}
.channel1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px
}
.channel2 {
	FONT-WEIGHT: bolder; COLOR: #435f00
}
.channel3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000
}
.i_orange {
	FONT-WEIGHT: bolder; COLOR: #f67b02
}
.u_text {
	COLOR: #4c4c4c; LINE-HEIGHT: 150%
}
.c_channel1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #2c6e00
}
.c_channel2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #0484d4
}
.c_channel3 {
	FONT-SIZE: 14px; COLOR: #db2163
}
.c_channel4 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #cf5c2a
}
.c_channel5 {
	FONT-SIZE: 14px; COLOR: #a76543
}
.c_channel6 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #fc6703
}
.c_channel7 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #007211
}
.back1 {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: no-repeat
}
.back2 {
	BACKGROUND-POSITION: right bottom; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: no-repeat
}
.back3 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-x
}
.c_back1 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-x
}
.c_back2 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ccf1fc
}
.c_back3 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-y
}
.inpt {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; COLOR: #d35b07; BORDER-TOP-COLOR: #000000; LINE-HEIGHT: 120%; HEIGHT: 20px; BACKGROUND-COLOR: #ffe6c2; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
.input2 {
	BORDER-RIGHT: #ffa500 1px solid; BORDER-TOP: #ffa500 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ffa500 1px solid; BORDER-BOTTOM: #ffa500 1px solid
}
.ibox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; HEIGHT: 21px
}
A.nav:link {
	COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.nav:visited {
	COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.nav:hover {
	COLOR: #ff0000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.line {
	FONT-SIZE: 12px; COLOR: #afafaf; FONT-FAMILY: "ËÎÌå"
}
.Toptitlelist {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 120%
}
A.Ttitle:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 120%; TEXT-DECORATION: none
}
A.Ttitle:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 120%; TEXT-DECORATION: none
}
A.Ttitle:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 120%; TEXT-DECORATION: none
}
A.Ttitle:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.nshead:link {
	FONT-SIZE: 12px; COLOR: #000000
}
A.nshead:visited {
	FONT-SIZE: 12px; COLOR: #000000
}
A.nshead:hover {
	FONT-SIZE: 12px; COLOR: #ff0000
}
A.u_green:link {
	COLOR: #435f00
}
A.u_green:visited {
	COLOR: #435f00
}
A.u_green:hover {
	COLOR: #435f00
}
A.u_orange:link {
	COLOR: #b78018
}
A.u_orange:visited {
	COLOR: #b78018
}
A.u_orange:hover {
	COLOR: #b78018
}
A.sp_orange:link {
	COLOR: #ff7800
}
A.sp_orange:visited {
	COLOR: #ff7800
}
A.sp_orange:hover {
	COLOR: #ff7800
}
A.sp_gray:link {
	COLOR: #505050; TEXT-DECORATION: underline
}
A.sp_gray:visited {
	COLOR: #505050; TEXT-DECORATION: underline
}
A.sp_gray:hover {
	COLOR: #505050; TEXT-DECORATION: underline
}
A.sp_blue:link {
	COLOR: #082d9f; TEXT-DECORATION: underline
}
A.sp_blue:visited {
	COLOR: #082d9f; TEXT-DECORATION: underline
}
A.sp_blue:hover {
	COLOR: #082d9f; TEXT-DECORATION: underline
}
A.sg_blue:link {
	COLOR: #007ad8
}
A.sg_blue:visited {
	COLOR: #007ad8
}
A.sg_blue:hover {
	COLOR: #007ad8
}
A.zt_yellow:link {
	COLOR: #c86003
}
A.zt_yellow:visited {
	COLOR: #c86003
}
A.zt_yellow:hover {
	COLOR: #c86003
}
A.c_gray:link {
	COLOR: #9c9c9c
}
A.c_gray:visited {
	COLOR: #9c9c9c
}
A.c_gray:hover {
	COLOR: #9c9c9c
}
A.c_brown:link {
	COLOR: #a76543
}
A.c_brown:visited {
	COLOR: #a76543
}
A.c_brown:hover {
	COLOR: #a76543
}
A.c_more1:link {
	COLOR: #9c9c9c
}
A.c_more1:visited {
	COLOR: #9c9c9c
}
A.c_more1:hover {
	COLOR: #9c9c9c
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4f4f4f; TEXT-DECORATION: underline
}
A.cat:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.cat:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.cat:hover {
	COLOR: #4f4f4f; TEXT-DECORATION: underline
}
A.pink:link {
	COLOR: #fa418d; TEXT-DECORATION: underline
}
A.pink:visited {
	COLOR: #fa418d; TEXT-DECORATION: underline
}
A.pink:hover {
	COLOR: #fa418d; TEXT-DECORATION: underline
}
A.gray:link {
	COLOR: #505050
}
A.gray:visited {
	COLOR: #505050
}
A.gray:hover {
	COLOR: #505050
}
A.gray1:link {
	FONT-WEIGHT: bolder; COLOR: #797979
}
A.gray1:visited {
	FONT-WEIGHT: bolder; COLOR: #797979
}
A.gray1:hover {
	FONT-WEIGHT: bolder; COLOR: #797979
}
A.orange:link {
	COLOR: #b57f06
}
A.orange:visited {
	COLOR: #b57f06
}
A.orange:hover {
	COLOR: #b57f06
}
A.orange1:link {
	FONT-WEIGHT: bolder; COLOR: #f67b02
}
A.orange1:visited {
	FONT-WEIGHT: bolder; COLOR: #f67b02
}
A.orange1:hover {
	FONT-WEIGHT: bolder; COLOR: #f67b02
}
A.white:link {
	COLOR: #ffffff
}
A.white:visited {
	COLOR: #ffffff
}
A.white:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.red:link {
	COLOR: #be3104
}
A.red:visited {
	COLOR: #be3104
}
A.red:hover {
	COLOR: #be3104; TEXT-DECORATION: none
}
A.a7:link {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: underline
}
A.a7:visited {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.a7:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: none
}
A.ah:link {
	FONT-SIZE: 12px; COLOR: #0c4f79; LINE-HEIGHT: 180%; TEXT-DECORATION: none
}
A.ah:visited {
	FONT-SIZE: 12px; COLOR: #0c4f79; LINE-HEIGHT: 180%; TEXT-DECORATION: none
}
A.ah:hover {
	FONT-SIZE: 12px; COLOR: #0c4f79; LINE-HEIGHT: 180%; TEXT-DECORATION: underline
}
.light4 {
	LEFT: -2px; COLOR: yellow; TOP: -2px
}
.shade4 {
	LEFT: 2px; COLOR: yellow; TOP: 2px
}
.fill4 {
	LEFT: 0px; COLOR: darkgreen; TOP: 0px
}
