BODY {
	FONT-SIZE: 12px; MARGIN: 0px; TEXT-ALIGN: center
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.input_btn {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 19px
}
.input_txt {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #666666 1px solid; WIDTH: 50px; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 16px
}
.font_12px {
	FONT-SIZE: 12px
}
.font_14px {
	FONT-SIZE: 14px
}
.strong {
	FONT-WEIGHT: bolder
}
.margin_top {
	MARGIN-TOP: 5px
}
.float_l {
	FLOAT: left; TEXT-ALIGN: left
}
.float_r {
	FLOAT: right
}
.font_blue {
	COLOR: #0000ff
}
.font_blue A:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.font_blue A:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.font_blue A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.font_hui {
	COLOR: #333
}
.font_hui A:link {
	COLOR: #333; TEXT-DECORATION: underline
}
.font_hui A:visited {
	COLOR: #333; TEXT-DECORATION: underline
}
.font_hui A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.font_white {
	COLOR: #ffffff
}
.font_white A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.font_white A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.font_white A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.font_red {
	COLOR: #cc0000
}
.font_red A:link {
	COLOR: #cc0000
}
.font_red A:visited {
	COLOR: #cc0000
}
.font_red A:hover {
	COLOR: #cc0000
}
.cnt {
	CLEAR: both; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 950px; TEXT-ALIGN: left
}
.c_bg {
	BACKGROUND: #efeee9
}
.cnt_col2_l {
	FLOAT: left; MARGIN: 5px 2px; OVERFLOW: hidden; WIDTH: 740px; TEXT-ALIGN: left
}
.cnt_col2_r {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 195px; MARGIN-RIGHT: 2px; TEXT-ALIGN: left
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 0px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	
}
 HTML .clearfix {
	HEIGHT: 1%
}
UNKNOWN {
	MIN-HEIGHT: 1px
}
.clearfix {
	DISPLAY: block
}
.bar {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.b_bg01 {
	BACKGROUND: url(/images/site_box_bg01.gif) no-repeat left top; OVERFLOW: hidden; HEIGHT: 8px
}
.b_bg02 {
	BACKGROUND: url(/images/site_box_bg02.gif) repeat-y left top
}
.l_l {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 280px; MARGIN-RIGHT: 8px
}
.box001 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #555555; PADDING-BOTTOM: 2px; LINE-HEIGHT: 22px; PADDING-TOP: 3px
}
.box001 .i {
	BORDER-RIGHT: #f5f5f5 0px solid; BORDER-TOP: #666666 0px solid; BORDER-LEFT: #666666 0px solid; BORDER-BOTTOM: #f5f5f5 0px solid
}
.box001 DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box001 .t {
	PADDING-LEFT: 12px; BACKGROUND: url(/images/site_arrow01.gif) no-repeat left 3px
}
.box001 .t_off {
	DISPLAY: none
}
.l_r {
	FLOAT: left; WIDTH: 428px
}
#f_div {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 206px
}
#f_imgDiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#f_img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: revealTrans(duration=2,transition=20); PADDING-BOTTOM: 0px; WIDTH: 274px; PADDING-TOP: 0px; HEIGHT: 203px
}
#all_button {
	BACKGROUND: #fff
}
#f_line {
	BACKGROUND: #fff; FILTER: progid:DXImageTransform.Microsoft.Alpha(startX=0, startY=0, finishX=100, finishY=100,style=1,opacity=0,finishOpacity=40); FLOAT: right; WIDTH: 100px
}
#f_buttonDiv {
	RIGHT: 0px; LEFT: 0px; FLOAT: left; OVERFLOW: hidden; POSITION: relative; TOP: -16px; HEIGHT: 16px
}
#f_buttonDiv A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: -3px 0px 0px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; WIDTH: 22px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 19px; TEXT-ALIGN: center
}
#f_buttonDiv A:link {
	BACKGROUND: #333333
}
#f_buttonDiv A:visited {
	BACKGROUND: #333333
}
#f_buttonDiv A:active {
	BACKGROUND: #333333
}
#f_buttonDiv A:hover {
	BACKGROUND: #d15407; TEXT-DECORATION: none
}
#f_buttonDiv A.on:link {
	BACKGROUND: #d15407
}
#f_buttonDiv A.on:visited {
	BACKGROUND: #d15407
}
#f_buttonDiv A.on:active {
	BACKGROUND: #d15407
}
#f_buttonDiv A.on:hover {
	BACKGROUND: #d15407; TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 24px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px
}
.box002 {
	BORDER-RIGHT: #bfbebd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bfbebd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; BORDER-LEFT: #bfbebd 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 13px; BORDER-BOTTOM: #bfbebd 1px solid; TEXT-ALIGN: center
}
.box002 #dot A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.bar002 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 18px; BACKGROUND: url(/images/site_arrow01.gif) #7b7b7b no-repeat 5px 6px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 8px; BORDER-BOTTOM: #ffda00 2px solid
}
.bar002_1 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 15px; BACKGROUND: #7b7b7b; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 8px; BORDER-BOTTOM: #ffda00 2px solid
}
.box007 {
	MARGIN-TOP: 3px; PADDING-LEFT: 3px; WIDTH: 275px
}
.box007 A {
	PADDING-LEFT: 12px; BACKGROUND: url() no-repeat left 6px; FLOAT: left; WIDTH: 120px; LINE-HEIGHT: 22px
}
.box010 {
	MARGIN-TOP: 8px; PADDING-LEFT: 8px; OVERFLOW: hidden; WIDTH: 272px; TEXT-ALIGN: center
}
.box010 LI {
	FLOAT: left; WIDTH: 130px; LINE-HEIGHT: 30px
}
.box010 .pic LI {
	MARGIN: 0px
}
.bar_blog {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 280px; PADDING-TOP: 0px; HEIGHT: 28px
}
.bar_blog IMG {
	MARGIN-BOTTOM: -5px
}
.bar_blog01 {
	FLOAT: left; WIDTH: 230px; HEIGHT: 28px
}
.bar_blog02 {
	FLOAT: right; WIDTH: 50px; HEIGHT: 28px
}
.box_blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url() no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 310px; PADDING-TOP: 0px; HEIGHT: 281px
}
.menu_b01 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/index_main_b01.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 22px
}
.menu_b02 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/index_main_b01.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 22px
}
.menu_b03 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/index_main_b01.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 22px
}
.menu_b04 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/index_main_b01.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 22px
}
.menu_b05 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/index_main_b01.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 22px
}
.menu_box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.menu_box A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.innerbox02 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.innerbox02 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.innerbox02 LI {
	FLOAT: left; WIDTH: 38px; LINE-HEIGHT: 19px; TEXT-ALIGN: center
}
.nav {
	CLEAR: both; BACKGROUND: url(/images/nav_bar.gif) repeat-x left top; MARGIN: 0px auto; WIDTH: 966px; HEIGHT: 75px; TEXT-ALIGN: left
}
.nav IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.nav .logo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 8px
}
.nav .ban {
	BORDER-RIGHT: #aaaaaa 2px solid; PADDING-RIGHT: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 2px solid; WIDTH: 230px; PADDING-TOP: 0px; HEIGHT: 57px; TEXT-ALIGN: left
}
.nav .ban UL {
	FONT-WEIGHT: bold; COLOR: #1f3a87; LINE-HEIGHT: 22px
}
.nav .ban UL A:link {
	COLOR: #1f3a87
}
.nav .ban UL A:visited {
	COLOR: #1f3a87
}
.nav .ban UL A:active {
	COLOR: #1f3a87
}
.nav .ban UL A:hover {
	COLOR: #1f3a87
}
.nav .ban LI {
	FLOAT: left; WIDTH: 34px
}
.nav .ban LI.xtitle {
	FLOAT: left; WIDTH: 60px
}
.nav .ban LI.dtitle {
	FLOAT: left; WIDTH: 75px; COLOR: #1f3a87
}
.nav .ban LI.dtitle A:link {
	COLOR: #1f3a87
}
.nav .ban LI.dtitle A:visited {
	COLOR: #1f3a87
}
.nav .ban LI.dtitle A:active {
	COLOR: #1f3a87
}
.nav .ban LI.dtitle A:hover {
	COLOR: #1f3a87
}
.nav .ban LI.ddtitle {
	FLOAT: left; WIDTH: 80px; COLOR: #ff0000
}
.nav .ban LI.ddtitle A:link {
	COLOR: #ff0000
}
.nav .ban LI.ddtitle A:visited {
	COLOR: #ff0000
}
.nav .ban LI.ddtitle A:active {
	COLOR: #ff0000
}
.nav .ban LI.ddtitle A:hover {
	COLOR: #ff0000
}
.nav .btm_ban {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 515px; HEIGHT: 57px
}
.nav .btm_ban UL {
	LINE-HEIGHT: 22px
}
.nav .btm_ban LI {
	BORDER-RIGHT: #aaaaaa 1px solid; FLOAT: left; WIDTH: 34px; TEXT-ALIGN: center
}
.nav .btm_ban LI.ttitle {
	FLOAT: left; WIDTH: 47px
}
.nav .btm_ban LI.wtitle {
	FLOAT: left; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.nav .btm_ban UL A:link {
	COLOR: #000000
}
.nav .btm_ban UL A:visited {
	COLOR: #000000
}
.nav .btm_ban UL A:active {
	COLOR: #000000
}
.nav .btm_ban UL A:hover {
	COLOR: #000000
}
.rsslist {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 215px; PADDING-TOP: 10px
}
.rsslist LI {
	PADDING-LEFT: 17px; BACKGROUND: url() no-repeat left 50%; FLOAT: left; MARGIN: 0px; WIDTH: 85px; LINE-HEIGHT: 22px
}
.link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 946px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 10px; BACKGROUND-COLOR: #efeee9; TEXT-ALIGN: left
}
.link A:link {
	COLOR: #000; TEXT-DECORATION: underline
}
.link A:visited {
	COLOR: #000; TEXT-DECORATION: underline
}
.link A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.font_white2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #ffffff
}
.font_white2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.font_white2 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.font_white2 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_box2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
.menu_box2 A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.new_24 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-TOP: 10px
}
.box13 {
	MARGIN-TOP: 3px; PADDING-LEFT: 5px
}
.box13 LI {
	FLOAT: left; WIDTH: 105px; LINE-HEIGHT: 22px
}
.box13 A {
	FLOAT: left; WIDTH: 105px; LINE-HEIGHT: 22px
}
.box14 {
	PADDING-LEFT: 5px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 280px
}
.box14 A {
	PADDING-LEFT: 12px; BACKGROUND: url() no-repeat left 50%; FLOAT: left; WIDTH: 125px; LINE-HEIGHT: 22px
}
.box15 {
	MARGIN-TOP: 3px
}
.box15 LI {
	FLOAT: left; MARGIN-LEFT: 12px; WIDTH: 105px; LINE-HEIGHT: 30px
}
.box15 .pic LI {
	MARGIN-TOP: 5px; MARGIN-LEFT: 0px; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
.col_24jj {
	BACKGROUND: url() no-repeat left 50%; OVERFLOW: hidden; WIDTH: 215px; HEIGHT: 22px
}
.col_24fk {
	BACKGROUND: url(/images/24_fk.gif) no-repeat left 50%; OVERFLOW: hidden; WIDTH: 215px; HEIGHT: 22px
}
.box16 {
	CLEAR: both; BORDER-RIGHT: #ab2d31 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ab2d31 1px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #ab2d31 1px solid; WIDTH: 195px; PADDING-TOP: 3px; BORDER-BOTTOM: #ab2d31 1px solid
}
.box16 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/24_line.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box16 A {
	PADDING-LEFT: 23px; LINE-HEIGHT: 23px
}
.box16b {
	CLEAR: both; BORDER-RIGHT: #ab2d31 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ab2d31 1px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #ab2d31 1px solid; WIDTH: 195px; PADDING-TOP: 3px; BORDER-BOTTOM: #ab2d31 1px solid
}
.box16b UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/24_line2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box16b A {
	PADDING-LEFT: 23px; LINE-HEIGHT: 23px
}
.box17 {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
.box17 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box17 LI {
	FLOAT: left; WIDTH: 107px; LINE-HEIGHT: 23px
}
.box18 {
	BACKGROUND: #8c8c8c; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 92px; PADDING-TOP: 1px; HEIGHT: 88px; TEXT-ALIGN: center
}
.box18 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box18 LI {
	LINE-HEIGHT: 12px
}
.box18 A {
	LINE-HEIGHT: 12px
}
.box19 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 10px
}
.box19 A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.box19 LI {
	
}
.col_today {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 30px; BACKGROUND: url(/images/24_today.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 250px; COLOR: #0d5491; PADDING-TOP: 7px; HEIGHT: 18px
}
.font_hui2 {
	COLOR: #666
}
.font_hui2 A:link {
	COLOR: #666; TEXT-DECORATION: none
}
.font_hui2 A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.font_hui2 A:hover {
	COLOR: #666
}
.col_blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 265px; PADDING-TOP: 5px; BORDER-BOTTOM: #ffd200 1px solid; HEIGHT:24px
}
.b_bg08 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/site_box_bg07.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 10px
}
.cnt_col3_l {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 32px 0px 13px; OVERFLOW: hidden; WIDTH: 338px
}
.cnt_col3_m {
	FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 338px
}
.box20 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 305px; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.box20 A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.box21 {
	OVERFLOW: hidden; WIDTH: 428px
}
.box22 {
	FLOAT: left; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.box009 {
	MARGIN-TOP: 5px
}
.box009 LI {
	FLOAT: left; MARGIN: 5px 4px 0px; WIDTH: 130px; LINE-HEIGHT: 22px
}
.bbs {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 0px
}
.bbs A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.bbs_col {
	PADDING-RIGHT: 0px; MARGIN-TOP: 7px; PADDING-LEFT: 0px; BACKGROUND: url(/images/bbs_pic.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 215px; PADDING-TOP: 0px; HEIGHT: 28px
}
.menu1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/btn_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 338px; PADDING-TOP: 0px; HEIGHT: 23px
}
.menu1 .btn_on {
	BACKGROUND: url() no-repeat left 50%; FLOAT: left; OVERFLOW: hidden; WIDTH: 72px; PADDING-TOP: 6px; HEIGHT: 17px; TEXT-ALIGN: center
}
.menu1 .btn_off {
	BACKGROUND: url() no-repeat left 50%; FLOAT: left; OVERFLOW: hidden; WIDTH: 72px; PADDING-TOP: 6px; HEIGHT: 17px; TEXT-ALIGN: center
}
.menu2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/hour_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 298px; PADDING-TOP: 0px; HEIGHT: 28px
}
.menu2 .btn_on {
	BACKGROUND: url(/images/hour_bnt.gif) no-repeat left 50%; FLOAT: left; OVERFLOW: hidden; WIDTH: 55px; HEIGHT: 28px; TEXT-ALIGN: center
}
.menu2 .btn_off {
	BACKGROUND: url() no-repeat left 50%; FLOAT: left; OVERFLOW: hidden; WIDTH: 55px; HEIGHT: 28px; TEXT-ALIGN: center
}
.m_spbox02 {
	CLEAR: both; BORDER-RIGHT: #b0b0b2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b0b0b2 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #b0b0b2 1px solid; WIDTH: 331px; LINE-HEIGHT: 22px; PADDING-TOP: 5px; BORDER-BOTTOM: #b0b0b2 1px solid
}
.sc_pic {
	FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 105px
}
.sc_bot {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 330px; LINE-HEIGHT: 22px
}
.sc_bot A {
	PADDING-LEFT: 10px; BACKGROUND: url() no-repeat left 50%
}
.sc_more {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.tri_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 220px; LINE-HEIGHT: 23px; PADDING-TOP: 0px
}
.tri_top A {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/dot_02.gif) no-repeat left 50%
}
.btn_on A:link {
	FONT-WEIGHT: bold; COLOR: #c00
}
.btn_on A:visited {
	FONT-WEIGHT: bold; COLOR: #c00
}
.btn_off A:link {
	COLOR: #333
}
.btn_off A:visited {
	COLOR: #333
}
.jpb_t {
	OVERFLOW: hidden; WIDTH: 215px; PADDING-TOP: 8px; HEIGHT: 44px
}
.jpb_m {
	BORDER-RIGHT: #a9383b 1px solid; BACKGROUND: #ffffff; OVERFLOW: hidden; WIDTH: 214px; HEIGHT: 224px; TEXT-ALIGN: center
}
.jpb_b {
	BORDER-RIGHT: #a9383b 1px solid; BORDER-TOP: #a8a8a8 1px solid; OVERFLOW: hidden; BORDER-LEFT: #a9383b 1px solid; WIDTH: 213px; BORDER-BOTTOM: #a9383b 1px solid; HEIGHT: 25px; TEXT-ALIGN: center
}
.jpb_m00 {
	PADDING-LEFT: 3px; FLOAT: right; MARGIN: 0px; WIDTH: 176px; HEIGHT: 14px
}
.jpb_m00 LI {
	BORDER-RIGHT: #a9383b 1px solid; FLOAT: left; WIDTH: 22px; LINE-HEIGHT: 14px
}
.jpb_m00 LI.da0 {
	FLOAT: left; WIDTH: 53px; LINE-HEIGHT: 14px; TEXT-ALIGN: left
}
.jpb_m00 LI.zh0 {
	FLOAT: left; WIDTH: 31px; LINE-HEIGHT: 14px; BORDER-RIGHT-STYLE: none
}
.jpb_m00 LI.ko0 {
	FLOAT: left; WIDTH: 16px; LINE-HEIGHT: 14px; BORDER-RIGHT-STYLE: none
}
.jpb_m01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 181px; PADDING-TOP: 0px; HEIGHT: 210px
}
.jpb_m01 UL {
	WIDTH: 175px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #cccccc 1px dotted
}
.jpb_m01 LI {
	FLOAT: left; WIDTH: 22px
}
.jpb_m01 LI.da {
	PADDING-LEFT: 0px; FLOAT: left; WIDTH: 53px; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.jpb_m01 LI.zh {
	PADDING-LEFT: 4px; FLOAT: left; WIDTH: 26px; LINE-HEIGHT: 20px
}
.jpb_m01 LI.ko {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 20px; COLOR: #000000; LINE-HEIGHT: 20px
}
.jpb_m02 {
	FLOAT: left; WIDTH: 28px; HEIGHT: 224px
}
.jpb_b01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 63px; PADDING-TOP: 0px; HEIGHT: 23px
}
.jpb_b02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 74px; PADDING-TOP: 0px; HEIGHT: 23px
}
.jpb_b03 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 76px; PADDING-TOP: 0px; HEIGHT: 23px
}



.font_blue2 {
	COLOR: #0000ff;FONT-SIZE: 14px;FONT-WEIGHT: bolder
}
.font_blue2 A:link {
	COLOR: #0000ff;FONT-SIZE: 14px;FONT-WEIGHT: bolder; TEXT-DECORATION: underline
}
.font_blue2 A:visited {
	COLOR: #0000ff;FONT-SIZE: 14px;FONT-WEIGHT: bolder; TEXT-DECORATION: underline
}
.font_blue2 A:hover {
	COLOR: #cc0000;FONT-SIZE: 14px;FONT-WEIGHT: bolder; TEXT-DECORATION: none
}
.font_blue2 A:active {
	COLOR: #cc0000;FONT-SIZE: 14px;FONT-WEIGHT: bolder; TEXT-DECORATION: none
}