<style type="text/css">
<!--
body,td,th {
	font-family: 宋体;
}
.style1 {font-size: 16px}
.summary   {FONT-SIZE: 18px;LINE-HEIGHT: 150%;COLOR: #000000;font-weight: bold;font-family:黑体}
.summary:visited {FONT-SIZE: 18px;LINE-HEIGHT: 150%;COLOR: #000000;font-weight: bold;font-family:黑体} 
.summary:hover   {FONT-SIZE: 18px;LINE-HEIGHT: 150%;COLOR: #000000;font-weight: bold;font-family:黑体}   
.summary:active  {FONT-SIZE: 18px;LINE-HEIGHT: 150%;COLOR: #000000;font-weight: bold;font-family:黑体} 
.style8 {color: #cc9900;
	font-weight: bold;
}
.STYLE11 {color: #999999}
.STYLE14 {	font-family: "黑体";
	font-size: 22px;
	font-weight: bold; line-height:28px;
}
.STYLE15 {font-size: 20px;line-height:28px;}
.STYLE3 {font-family: Arial, Helvetica, sans-serif}
.STYLE7 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
-->
</style>