BODY {
	MARGIN-TOP: 1px; MARGIN-LEFT: 0px; BACKGROUND-COLOR: #ffffff
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000
}
.font14 {
	FONT-SIZE: 16px; COLOR: #222222; LINE-HEIGHT: 180%; FONT-FAMILY: "ËÎÌå","Verdana"
}
.bigred {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #990000; LINE-HEIGHT: 28px; FONT-FAMILY: "ºÚÌå"
}
TD {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #003399;
}
a:active {
	text-decoration: none;
}
.t6 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666
}
.t6:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.t6:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.t6:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.t6:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.whtie {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal
}
.whtie :link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal
}
.whtie :visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal
}
.whtie :hover {
	FONT-SIZE: 12px; COLOR: #cccccc; LINE-HEIGHT: normal
}
.whtie :active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal
}
.EN {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Arial"
}
.EN:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Arial"
}
.EN:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Arial"
}
.EN:hover {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: "Arial"
}
.EN:active {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Arial"
}
.first:link {
	FONT-SIZE: 14px; COLOR: #404040; TEXT-DECORATION: none
}
.first:visited {
	FONT-SIZE: 14px; COLOR: #404040; TEXT-DECORATION: none
}
.first:hover {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.first:active {
	FONT-SIZE: 14px; COLOR: #404040; TEXT-DECORATION: none
}
.LeftmenuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LETTER-SPACING: 0.5em
}
.LeftmenuTitle:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.LeftmenuTitle:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.LeftmenuTitle:visited {
	COLOR: #ffffff
}
.Leftmenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #003366; PADDING-TOP: 5px; LETTER-SPACING: 0.5em
}
.Leftsubmenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #990000; PADDING-TOP: 3px
}
.Leftsubmenu:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.Leftsubmenu:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Leftsubmenu:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.ceo {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 30px
}
.ceo:link {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 30px
}
.ceo:visited {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 30px
}
.ceo:hover {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 30px
}
.style4 {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.newxiangguancontent {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 100%; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.style2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.style3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.t1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
.t1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
.t1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
.t1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.t1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}


.font_blue2 {font-size:16px; color:#35406E; font-weight:bold
}
.font_blue2:link{font-size:16px; color:#35406E; font-weight:bold
}
.font_blue2:visited {font-size:16px; color:#35406E; font-weight:bold
}
.font_blue2:hover{font-size:16px; color:#35406E; font-weight:bold
}
.menu5 {
	 FONT-SIZE: 13px; COLOR: #050193
}
.menu5:link {
	 FONT-SIZE: 13px; COLOR: #050193
}
.menu5:visited {
	 FONT-SIZE: 13px; COLOR: #666666
}
.menu5:hover {
	 FONT-SIZE: 13px; COLOR: #050193
}

